@tailwind base;
@tailwind components;
@tailwind utilities;

/* Multi-step form */
.form-section {
    display: none;
}

.form-section.current {
    display: inline;
}

.parsley-errors-list {
    color: red;
}